body{
    margin: 0px;
    padding: 0px;
}
.main{
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    background-color: #232027;
}
.laptop{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 5px;
    z-index: 999;
    transition: all .8s;
}
.box{
    height: 210px;
    width: 325px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    transition: all .6s;
}
.blackbox{
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: absolute;
    left: -100%;
    transition: all .6s;
}
.imagebox{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0%;
    transition: all .6s;
}
.img{
    height: 70%;
    width: 60%;
    position: absolute;
    left: -60%;
    top:50%;
    transform: translateY(-50%);
}
.img img{
    border-radius: 0 20px 20px 0;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.msg{
    height: 200px;
    width: 300px;
    font-family: sans-serif;
    text-align: justify;
    color: white;
    position: absolute;
    right: 10%;
    top:55%;
    transform: translateY(-50%);
    opacity: 0;
}
.btn{
    height: 35px;
    width: 125px;
    font-family: sans-serif;
    font-size: 12px;
    color:white;
    text-align: center;
    line-height: 35px;
    background-color: coral;
    border-radius: 5px;
    position: absolute;
    top:88%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}







